{
    "botName": "SMH BOT",
    "owner": [
        "Your_Phonenumber@s.whatsapp.net"
    ],
    "openWeather": "OpenWeather_APIkey",
    "igCookie": "Instagram_Cookie",
    "session": "session-md.json",
    "user_db": "users-db.json",
    "chat_store": "baileys-store.json",
    "timezone": "Asia/Jakarta",
    "footer": "Kaguya PublicBot • FaizBastomi",
    "tier": {
        "drakath": 200,
        "nulgath": 500,
        "artix": 999
    }
}